.myName {
  margin: 10px;
  width: 100%;
  text-align: center;
}
.fullStack {
  text-align: center;
}

.imageSize {
  width: 330px;
  height: 300px;
}
.firstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
